.login-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  width: 75%;
}

.login-input-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

.login-input-text label {
  display: flex;
  flex-direction: column;
}

.login-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
